@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 100% 99%;
    --foreground: 0 0 20%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 42, 99%, 51%, 1;
    --primary-foreground: 210 40% 98%;

    --secondary: 42, 100%, 74%, 1;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --linked: 25, 89%, 57%;
    --theme: 24, 100%, 99%;
  }

  .dark {
    --background: 0 0% 20%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border m-0 p-0 list-none scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer components {
  input {
    @apply outline-none;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .primary-btn {
    @apply px-4 py-2.5 h-10 bg-primary font-medium rounded-lg flex items-center justify-center font-montserrat;
  }

  .h-sidebar {
    height: calc(100vh - 72px);
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-12 pt-6;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .size-btn {
    @apply px-4 w-24 py-2.5 h-11 bg-primary font-medium rounded-sm flex items-center justify-center font-montserrat;
  }

  .color-btn {
    @apply px-4 w-24 py-2.5 h-11 bg-primary font-medium rounded-sm flex items-center justify-center font-montserrat;
  }

  .linked-btn {
    @apply bg-linked;
  }
}
